{#include file="admin/top.html"#}

<ol class="breadcrumb" id="breadcrumb">
    <li><a href="#">收费管理</a></li>
    <li class="active">票据管理</li>
</ol>
<div class="col-sm-8" id="app">
    <div class="regform">


        <!--<a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;录入</a>-->
        <a href="#" class="btn btn-success" data-toggle="modal" data-target="#voucherlist"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;票据导入</a>
        <table class="table table-bordered table-hover">

            <thead>
            <tr>
                <th>票据编号</th>
                <th>学员学号</th>
                <th>订单编号</th>
                <th>缴费类型</th>
                <th>缴费时间</th>
                
                <th>合计金额</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in applists.job.data">
                <td>{{item.n_number}}</td>
                <td>{{item.student_id}}</td>
                <td>{{item.order_id}}</td>
                <td>{{item.ch_voucher_type}}</td>
                <td>{{item.inser_time}}</td>
                
                <td>{{item.ch_money}}</td>
                <td>
                    <a href="#" class="btn btn-danger " data-toggle="modal" data-target="#myModal"  v-on:click="getInfo(item)" ><span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;作废</a>
                </td>
            </tr>

            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li  @click="pageMinus(applists.job.pageIndex,gotoJob)" ><a href="#">上一页</a></li>
                <li v-for="(item,index) in applists.job.pageAll" v-bind:class="{ 'active': applists.job.pageIndex == index}" @click="gotoJob(index)"><a href="#">{{index+1}} <span class="sr-only"></span></a></li>
                <li @click="pagePlus(applists.job.pageIndex,gotoJob)"><a href="#" >下一页</a></li>
            </ul>
        </nav>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="exampleModalLabel">票据作废</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal"  id="voucherinfo">

                        <div class="form-group">
                            <label for="voucher_id" class="col-sm-2 control-label">票据编号</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" v-text=""> {{appinfo.c_number}}</p>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="student_id" class="col-sm-2 control-label">学号</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" v-text=""> {{appinfo.student_id}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="student_id" class="col-sm-2 control-label">订单号</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" v-text=""> {{appinfo.order_id}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="student_id" class="col-sm-2 control-label">打印时间</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" v-text=""> {{appinfo.inser_time}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" form="voucherinfo" @click.prevent="PrintVoucherinfo">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="voucherlist" tabindex="-1" role="dialog" aria-labelledby="voucherlist1">
        <div class="modal-dialog" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="voucherlist2">新增票据</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="voucherlistinfo">

                        <div class="form-group">
                            <label for="voucher_id" class="col-sm-3 control-label">起始票据编号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control noempty" id="voucherStartnum" name="voucherStartnum"
                                       placeholder="" v-model="voucherlist.voucherStartnum"><span  class="help-block hidden">不能为空</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="voucher_id" class="col-sm-3 control-label">结束票据编号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control noempty" id="vouchercontinuitynumber" name="vouchercontinuitynumber"
                                       placeholder="" value="10" v-model="voucherlist.vouchercontinuitynumber"><span  class="help-block hidden">不能为空</span>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" form="voucherlistinfo" @click="subvoucherform">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="messageModel" tabindex="-1" role="dialog" aria-labelledby="messageModelLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="messageModelLabel"></h4>
                </div>
                <div class="modal-body" v-text="message"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

















</div>
<script src="../html/default/js/LodopFuncs.js"></script>
<script src="../html/default/admin/js/finance/voucher.js">


</script>


{#include file="admin/footer.html"#}