
#main {

    position: fixed;
    float: left;
    top: 30%;
    left:35%;
    border-radius: 10px;
    border: 2px solid #ffb428;
    background: #ffffff;
    background-color: rgba(255,255,255,0.7);

}
.login-bgc{
    background-color: rgba(255,255,255,0.7);

}